<div class='container'>
<h1>Violators Information</h1>
<%= paginate @Violators_all, window: 2 %>
<table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Ticket Number</th>
            <th></th>
        </tr>
        </thead>
        <% @Violators_all.each do |velli| %>
        <tr>
            <td><%=velli.name%></td>
            <td><%=velli.ticket_number%></td>
            <td><%=link_to "Link for more info", violators_show_path(velli)%></td>
        </tr>
        <%end%>
      </table>
</div>