<h1 style="text-align: center">Violators Info</h1>
<br>
<h3 style="text-align: center">Name - <%=@Show_violators.name %></h3>
<p style="text-align: center; font-size: 20px">This violator has to pay for ticket number - <%= @Show_violators.ticket_number %></p>