<div class='container'>
<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<p>Tickets table is populated using the json data. Each Violator is created using the faker data. Violator can have many traffic tickets where as a ticket can only be assgned to one violator.</p>
<%# <%= image_tag("ERD.png", class:"img-fluid", alt:"ERD") %> %>
</div>